body,
html {
  margin: 0;
  /* background-color: rgb(217, 255, 252); */
  height: 100vh;
  display: flex;
  flex-flow: column;
  /* dangerous property */
  overflow-x: hidden;
  width: 100vw;
}

#root {
  display: flex;
  flex-flow: column;
  flex: 1;
}
