.modal {
  transform: scale(0.3);
  background-color: papayawhip;
  border-color: black;
  border-width: thick;
  border-style: solid;
  width: fit-content;
  height: fit-content;
}

.largeModal {
  transform: scale(0.5);
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex !important;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.897);
}

.small {
  /* max-height: 100%; */
  margin-left: auto;
  border-color: black;
  border-width: thin;
  border-style: solid;
  text-align: center;
  margin-right: auto;
  display: block;
  height: 30vh;
  width: 100%;
}
