.container {
  flex: 1;
  display: flex;
  background-color: #161922;
  color: white;
  flex-direction: column;
  padding-top: 100px;
}

.title h1 {
  text-align: center;
  margin: 0;
  padding: 0;
  /* color: rgb(0, 0, 0); */
  font-size: 3rem;
  font-weight: bolder;
}

.content {
  text-align: center;
  font-style: italic;
  /* color: rgb(12, 11, 11); */
  font-size: 4.5rem;
}

.bg {
  flex: 1;
  /* background-image: url("../../assets/dreamPic.jpg"); */
  background-size: cover;
  background-attachment: fixed;
  /* opacity: 0.25; */
  background-repeat: no-repeat;
}
