/* .bg {
  height: 100vh;
  background-position: cover;
  background-image: url("../images/dreamPic.jpg");
  background-size: cover;
  opacity: 0.95;
  background-repeat: no-repeat;
} */
/* 
.opaque {
  background: white;
  color: white;
} */
