.nav {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #191919;
  align-items: center;
}

.Logo {
  font-size: 1.5rem;
  padding-left: 50px;
  text-decoration: none;
  color: white;
}
/* 
.LogoLink {
  text-decoration: none;
  color: rgb(255, 255, 255);
  border-bottom: 2px solid blue;
} */

.navLinks {
  width: 100%;
  height: min-content;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
}

.navItem {
  font-size: 1rem;
  text-decoration: none;
  margin: 0 25px;
  color: rgb(255, 255, 255);
}

.navItem h2 {
  font-weight: 400;
}

.navItem :hover,
.Logo:hover {
  color: yellow;
}

.navActive {
  color: orange;
  /* border-bottom: 2px solid blue; */
  text-decoration: underline;
}
