nav {
  display: flex;
  justify-content: space-evenly;
  margin: 5px 10px;
  text-align: center;
  height: min-content;
  background-color: #24252a;
  border: 1px solid rgb(126, 126, 126);
  border-radius: 20px;
}

h2 {
  margin: 15% 0 15%;
  font-weight: 400;
}

.navLinks {
  width: 100%;
  height: min-content;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navItem {
  font-size: 0.81rem;
  text-decoration: none;
  margin: 0 1% 0;
  color: rgb(255, 255, 255);
}

.navItem :hover {
  color: yellow;
}

.navActive {
  color: orange;
  text-decoration: underline;
}
