.Container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding-top: 70px;
  background-color: #252934;
  border: 2px solid black;
}

.Title {
  color: white;
  font-size: 3rem;
  letter-spacing: 0.2rem;
}

.Element {
  color: white;
  display: flex;
  margin: 0 0;
  background-color: #10131b;
  justify-content: center;
  align-items: center;
  padding: 1%;
}
